body .cabecalho {
  background-color: rgb(0, 154, 154);
}

.container-contato {
  background-color: rgb(0, 154, 154);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.formulario {
  display: flex;
  justify-content: center;
}

.formulario form p {
  margin-bottom: 0;
}

.input-form,
.textaria-form,
.button-form {
  outline: none;
  resize: none;
  padding: .5rem;
  background-color: #F7F7F7;
  border: none;
  border-radius: 5px;
  max-width: 30rem;
}

.textaria-form {
  max-height: 10rem;
}

.button-form {
  width: 100%;
  background-color: #04BFBF;
  color: #FFFFFF;
  transition: .3s;
}

.button-form:hover {
  filter: brightness(120%);
}

form {
  width: min-content;
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: .5rem;
}


html,
body {
  overflow-x: hidden;
}



@media (max-width: 444px) {

  .input-form,
  .textaria-form,
  .button-form {
    max-width: 20rem;
  }


}