.container-contato {
  background-color: rgb(0, 154, 154);
  margin-top: -100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 49.25rem;
}

.container-contato h1 {
  color: white;
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 1.8125rem;
  text-align: left;

}

/*cabecalho*/

.container-contato .contato {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: auto;
}

.container-contato .contato a {
  text-decoration: none;
  color: white;
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
}

.container-contato .contato a img {
  margin-right: 0.625rem;
}

.container-contato .contato a:nth-child(3) {
  margin-bottom: 1.81rem;
}

.container-contato .contato .midias-sociais {
  display: flex;
  flex-direction: row;
}

.container-contato .contato .midias-sociais a:nth-child(1) {
  margin-right: 1.875rem;
}

.container-contato .formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 30.875rem;
  height: 28.5625rem;
  background-color: white;
  border-radius: 0.625rem;
  padding: 1.875rem;

}

.container-contato .formulario input,
textarea,
button {
  width: 100%;
  padding: 0.9rem;
  border-radius: 0.625rem;
  margin-bottom: 0.9rem;
  outline: none;
  border: none;
  font-family: 'Montserrat';
}

.container-contato .formulario input,
textarea {
  background-color: #F7F7F7;
  resize: none;
  font-weight: 400;
  font-size: 1rem;
}


.container-contato .formulario textarea {
  height: 12.5rem;
}

.container-contato .formulario button {
  background-color: rgb(0, 154, 154);
  color: white;
  cursor: pointer;
  transition: .3s;
}

.container-contato .formulario button:hover {
  filter: brightness(120%);
}

footer {
  padding: 5.625rem;
}

.cabecalho {
  width: 100%;
  background-color: rgb(0, 154, 154);

}

@media (max-width: 640px) {
  body .cabecalho {
    width: 100%;
    background-color: rgb(0, 154, 154);
  
  }
  .container-contato .formulario {
    width: 25rem;
    height: 25rem;
  }

  .container-contato {
    flex-direction: column;
  }

  .container-contato .contato h1 {
    text-align: center;
    margin-top: 100px;

  }

  .container-contato .contato a {
    justify-content: center;
  }

  .cabecalho {
    padding-bottom: 8rem;
  }

}