/*Cabecalho*/
body .cabecalho {
  background-color: rgb(0, 154, 154);
}

/*Container*/
.container-contato {
  background-color: rgb(0, 154, 154);
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contato .conteudo {
  width: 90%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*Caixa contato*/
.container-contato .conteudo .contato h1 {
  color: white;
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 1.8125rem;
  text-align: left;

}

.container-contato .conteudo .contato {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  height: auto;
  align-items: left;
}

.container-contato .conteudo .contato a {
  text-decoration: none;
  color: white;
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
}

.container-contato .conteudo .contato a img {
  margin-right: 0.625rem;
}

.container-contato .conteudo .contato a:nth-child(3) {
  margin-bottom: 1.81rem;
}

.container-contato .conteudo .contato .midias-sociais {
  display: flex;
  flex-direction: row;
}

.container-contato .conteudo .contato .midias-sociais a:nth-child(1) {
  margin-right: 1rem;
}

/* Caixa formulario*/
.formulario {
  display: flex;
  justify-content: center;
}

.formulario form {
  width: min-content;
  background-color: #FFFFFF;
  padding: .8rem;
  border-radius: .5rem;
}

.formulario form p {
  margin-bottom: 0;
}

.formulario form .input-form,
.formulario form .textaria-form,
.formulario form .button-form {
  outline: none;
  resize: none;
  padding: .5rem;
  background-color: #F7F7F7;
  border: none;
  border-radius: 5px;
  max-width: 30rem;
}

.formulario form .textaria-form {
  max-height: 10rem;
}

.formulario form .button-form {
  width: 100%;
  background-color: #04BFBF;
  color: #FFFFFF;
  transition: .3s;
}

.formulario form .button-form:hover {
  filter: brightness(120%);
}

footer {
  padding-top: 50px;
}
/*Responsividade dispositivos*/
@media (max-width: 915px) {

  .formulario form .input-form,
  .formulario form .textaria-form,
  .formulario form .button-form,
  .container-contato .conteudo .contato {
    max-width: 18rem;
  }
}

@media (max-width: 692px) {
  .container-contato .conteudo {
    justify-content: center;
    gap: 1.5rem;
  }

  .container-contato .conteudo .contato {
    justify-content: center;
    align-items: center;
  }

  .container-contato .conteudo .contato h1 {
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (max-width: 300px) {

  .formulario form .input-form,
  .formulario form.textaria-form,
  .formulario form .button-form {
    max-width: 14rem;
  }
}