.conteiner-incial-cursos{
    background-color: rgb(0,154,154);
    /*height: 500px;*/
    width: 100%;
   padding-top: 150px;
    margin-top:-100px ;
    
}
.conteudo-inicial{
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 75%;
    margin: auto;
    padding-bottom: 50px;
    gap: 40px;
}
.conteudo-inicial h1{
    color: white;
    text-align: center;
   /** padding-top: 150px;**/
}
.conteudo-inicial input{
    width: 95%;
    height: 65px;
   margin: auto;
    border-radius: 5px;
    border: none;
    border: solid;
    border-color: white;
    outline: none;
}
.botoes-inicial{
    /*margin-left: 150px;
    margin-top: 70px;*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    row-gap: 10px;
    column-gap: 15px;

}
.botoes-inicial button{
    background-color: rgb(0,179,179);
    padding: 15px;
    border: solid 1px;
    border-color: rgb(0,202,202);
    border-radius: 5px;
    color: white;
}
.botoes-inicial button:hover{
    background-color:rgb(96, 194, 194) ;
}
.conteiner-paineis-cursos{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
   
}
.cursos{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    gap:20px;
}
.curso-inscreva-se, .curso-fila-de-espera{
    
    width: 350px;
   
    border-radius: 10px;
    background-color: white;
    text-align: justify;
    font-size: 14px;
    box-shadow:	10px 10px 60px gray;
}
.cursos div img{
    width:inherit ;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}
.descricao-curso{
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    row-gap:  20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/**.descricao-curso h3{
    margin: 20px 40px 20px 30px;

}**/
.descricao-curso p{
   /** margin: 20px 40px 30px 30px;**/
    color: grey;
}
.descricao-curso button{
    
   height:50px;
   border-radius: 5px;
   border: 2px solid rgb(4,191,191);
}
.curso-inscreva-se button{
    background-color: rgb(4,191,191);
   color: white;
}
.curso-inscreva-se button:hover{
    background-color: rgb(242,99,126);
    border-color: rgb(242,99,126);
}
 .curso-fila-de-espera button{
    background-color: white;
    color: rgb(4,191,191) ;
 }  
 .curso-fila-de-espera button:hover{
    background-color: rgb(4,191,191, 0.2);
 }  