@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Montserrat:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 246, 245);
    font-family: "montserrat";
}

header li {
    list-style: none;
}

a {
    text-decoration: none;
}

.background-conteiner-incial {
    background-color: rgb(242, 99, 126);
    width: 100%;
}

body .cabecalho {
    background-color: #f2637e;
}

.conteiner-inicial {
    display: flex;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
}

.conteiner-inicial h2 {
    font-family: "montserrat";
    font-weight: 700;
    font-size: 45px;
    margin: auto;
    color: white;
}

.conteiner-inicial img {
    width: 100%;
}

.conteiner-sobre {
    display: flex;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 130px;
    justify-content: space-between;
}

.conteiner-sobre h2 {
    color: rgb(4, 191, 191);
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
}

#circulo {
    position: absolute;
    display: flex;
    background-color: #04bfbfb3;
    width: 5vw;
    height: 20vh;
    border-radius: 0px 150px 150px 0px;
    margin-top: 170px;
    margin-left: -20px;
}

.conteiner-sobre p {
    text-align: justify;
    width: 90%;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #464646;
    opacity: 0.9;
    margin-top: 30px;
    margin-bottom: 30px;
}

.conteiner-sobre a {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    background-color: #04bebe;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.conteiner-sobre a:hover {
    background-color: #f2637e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1.1rem;}

.conteiner-sobre img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.conteiner-cursos {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.background-conteiner-cursos {
    background-color: rgb(4, 191, 191);
    width: 85%;
    height: 620px;
}

.paineis-de-cursos {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: -550px;
}

.painel-curso {
    width: 32%;
    border-radius: 10px;
    background-color: white;
    text-align: left;
    box-shadow: 10px 10px 60px black;
    display: flex;
    flex-direction: column;
}

.painel-curso img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.painel-descricao {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.paineis-de-cursos h2 {
    font-weight: bold;
}

.painel-curso h3 {
    margin: 20px 0px 10px 0px;
    font-weight: bold;
}

.painel-curso p {
    margin: 20px 0px 10px 0px;
    color: grey;
    text-align: justify;
}

.painel-curso .inscricao {
    margin: auto;
    text-align: center;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 30px;
}


.painel-curso a {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    background-color: #04bebe;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.painel-curso a:hover {
    background-color: #f2637e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1.1rem;
}

.painel-curso .em-breve {
    margin: auto;
    text-align: center;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    background-color: rgb(158, 158, 158);
    border-radius: 4px;
    padding: 0.2rem 0rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.painel-curso button {
    width: 100%;
    margin: 20px 0px 30px 0px;
    height: 50px;
    background-color: rgb(4, 191, 191);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(4, 191, 191);
}



.mais-cursos {
    width: 32%;
    text-align: center;
}

.mais-cursos h2 {
    color: white;
    font-size: 2.8rem;
    padding: 20px;
}

.mais-cursos button {
    background: transparent;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid;
    border-color: white;
    color: white;
    margin-top: 25px;
    transition: .2s;
}

.mais-cursos button:hover {
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    background-color: rgb(242, 99, 126);
    color: #fff;
}

.conteiner-comentarios {
    width: 100%;
    max-width: 1100px;
    height: 55vh;
    margin: auto;
    margin-top: 100px;
}

.conteiner-comentarios h2 {
    color: rgb(4, 191, 191);
    text-align: center;
    font-size: 2.8rem;
    /*margin-bottom: 50px;*/
}

.slide{
    height: 55vh;
} 
.carousel-indicators .active{
    background-color: rgb(242, 99, 126);

} 

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color:  rgb(242, 99, 126, 0.7);
    border-radius: 50%;
}
.comentarios{
    display: flex;
    align-items: center;
    height: 50vh;
    
}


.carousel-item {
    
    width: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px;
    margin: auto;
    
}


/*.comentarios img {
    width: 30%;
    border-radius: 50%;
    border: solid;
    border-color: rgb(242, 99, 126);
}*/

.comentarios figcaption {
    color: rgb(242, 99, 126);
    font-size: 15px;
    margin-top: 15px;
}

.comentarios figure {
    display: flex;
    margin-top: 10px;
}

.comentarios p {
    font-size: 0.9rem;
    color: gray;
    text-align: justify;
}

.conteiner-leitura {
    text-align: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.background-conteier-leitura {
    width: 100%;
    background-color: rgb(4, 191, 191);
    height: 500px;
}

.quadro-de-letura {
    margin-top: -500px;
}

.quadro-de-letura h2 {
    font-weight: bold;
}

.mais-noticias {
    width: 80%;
    margin: auto;
}

.mais-noticias h2 {
    padding-top: 40px;
    color: white;
    font-size: 2.8rem;
}

.mais-noticias button {
    margin-top: 20px;
    background: transparent;
    transition: 0.4s;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid;
    border-color: white;
}

.mais-noticias button:hover {
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    background-color: rgb(242, 99, 126);
    color: #fff;
}

.mais-noticias a {
    color: white;
}




.slide-content{
    
    margin: 40px 40px;
    overflow: hidden;
    
  }


.card-noticia {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    text-align: left;
}

.card-noticia img {
    object-fit: cover;
    background-size: contain;
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}

.descricao-noticia {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px;
    height: 230px;
    justify-content:space-between;
}
.descricao-noticia h3 {
    
    font-size: 1.2rem;
    font-weight: bold;
}

.descricao-noticia p {
    color: grey;
    font-size: 0.9rem;
}

.descricao-noticia button {
    margin-bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: rgb(4, 191, 191);
    border-radius: 5px;
    border: 2px solid rgb(4, 191, 191);
    
    transition: 0.4s;
}

.descricao-leitura button:hover {
    background-color: rgb(4, 191, 191, 0.2);
    color: white;
}
.swiper-navBtn{
    color:#6E93f7 ;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color:#4070F4 ;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 40px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }

@media (max-width: 1165px) {
   
    .conteiner-inicial {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #circulo {
        display: none;
    }

    .conteiner-sobre {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        text-align: center;
        margin: auto;
        gap: 20px;
    }

    .conteiner-sobre p {
        margin: auto;
        margin-bottom: 15px;

    }

  
    .background-conteiner-cursos {
        width: 80%;
        max-width: 520px;
        height: 300px;
        margin: auto;
    }

    .paineis-de-cursos {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 30px;

        margin-top: -300px;
    }

    .mais-cursos {
        width: 90%;
    }

    .painel-curso {
        width: 100%;
        max-width: 540px;
    }

    .background-conteier-leitura {
        width: 80%;
        max-width: 520px;
        margin: auto;
    }

    
}

@media (max-width: 910px) {
    .carousel-item {
        width: 70%;
        
    }
    
    
      .swiper-navBtn{
        /*display:none;*/
        opacity: 0;
      }
   
   
}

@media (max-width: 605px) {
    .nav-menu {
        width: 90%;
    }
    .conteiner-sobre h2 {
        font-size: 30px;
    }

    .conteiner-sobre p {
        font-size: 20px;
        text-align: justify;
    }

    .conteiner-inicial h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .conteiner-comentarios{
        height: 70vh;
    }
    .slide, .comentarios{
        height: 60vh;
    }
    

    .conteiner-comentarios h2{
        font-size: 1.5rem;
    }
    .swiper{
        width: 100%;
        
    }
    .slide-content{
        width: 100%;
        margin: 25px 0;
    }
}
@media (max-width: 280px) {
    .conteiner-comentarios{
        height: 90vh;
    }
    .slide, .comentarios{
        height: 85vh;
    }
}